*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 600px;
    min-height: 300px;
    text-align: center;
    margin: auto;
    padding: 1rem 2rem;
}
.heading{
    font-size: 2rem;
    margin: 1rem 0rem;
}
.description{
    font-size: 1.5rem;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0rem;
}
label{
    width: 60%;
    font-size: 1.2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
input{
    width: 60%;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 0.2rem;
}
button{
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 6rem;
    padding: 0.5rem;
    font-size: 1rem;
    margin-top: 2rem;
    cursor: pointer;
}
#outputBox{
    padding: 2rem 0rem;
}